$icomoon-font-path: "fonts" !default;

$icon-summary: "\e900";
$icon-description: "\e909";
$icon-claim: "\e907";
$icon-patent: "\e901";
$icon-agent: "\e90f";
$icon-favicon: "\e90d";
$icon-barcode: "\e90c";
$icon-inventor: "\e902";
$icon-applicant: "\e903";
$icon-examinee: "\e904";
$icon-assignee: "\e905";

