@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "theme";
@import "~bootstrap/scss/normalize";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

// Components
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";

// Utilities
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/float";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/visibility";

body {
  position: relative;
}

.container, .container-fluid {
  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

#navbar-top {
  height: 60px;
  top: -1px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .navbar-nav {
    flex-direction: row;

    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }

  .navbar-collapse {
    display: flex !important;
    width: 100%;
  }
}

.card-title {
  text-transform: capitalize;
}

.card-patent-basic {

  @include media-breakpoint-up(sm) {
    margin-top: 20px;
  }

  @include media-breakpoint-down(xs) {
    border-radius: 0;
  }

  .card-title-block {
    padding: $spacer*.75;

    @include media-breakpoint-down(md) {
      min-width: 11em;
    }

    @include media-breakpoint-down(xs) {
      padding: $spacer*.2;
      min-width: 2.5em;
    }
  }

   &.sticky-top {
    min-width: 300px;
    max-width: 100%;
    margin-top: 0;
    top: 60px;
    float: right;

    .card-block-compact {
      margin-top: $spacer*.7
    }
  }

  .list-group-item {
    border-width: 0;
    font-size: $font-size-sm;
  }

  .address {
    color: $gray-light;
    font-weight: 200;
    font-style: italic;
  }

  .display-name {
    border-bottom: 1px dotted $gray-light;
  }

  .icon {
    font-size: 1.5rem;
  }

  .icon-barcode {
    font-size: 24px;
  }

  @include media-breakpoint-down(md) {

    .card-block-compact {
      padding: $spacer*.25 0;
    }

    .list-group {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .list-group-item {
      padding: $spacer*.25;
      border: 0 none;
      flex-wrap: nowrap;
    }

    .icon:before {
      width: $spacer*2;
      display: inline-block;
      text-align: center;
    }

    .address {
      margin-left: $spacer*.5
    }
  }
}

.card-block-compact {
  padding: 0;
  .card-title {
    margin-bottom: 0;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    border-radius: 0;
  }
}

.navbar-brand {
  .icon {
    font-size: 2rem;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
  }
}

.navbar-nav {
  .nav-link {
    text-transform: capitalize;
  }
}


.card-light {
  border: 0 none;

  .icon {
    font-size: 2rem;
  }

  .card-header {
    display: flex;
    flex-flow: row nowrap;
  }

  .card-title {
    margin: 0;
    text-transform: capitalize;
  }
}

.copyright {
  font-size: $font-size-sm;
  font-style: italic;
  color: $gray-light;

  &:before {
    display: block;
    padding-bottom: .5rem;
    content: "\00a9 copyright";
    font-weight: bold;
  }
}