$icomoon-font-path: "fonts" !default;

$icon-agents: "\e90f";
$icon-author: "\e910";
$icon-claim: "\e900";
$icon-patent-path1: "\e901";
$icon-patent-path2: "\e902";
$icon-patent-path3: "\e903";
$icon-patent-path4: "\e904";
$icon-patent-path5: "\e905";
$icon-patent-path6: "\e906";
$icon-patent-path7: "\e907";
$icon-patent-path8: "\e908";
$icon-patent-path9: "\e909";
$icon-patent-path10: "\e90a";
$icon-patent-path11: "\e90b";
$icon-favicon: "\e90d";
$icon-barcode: "\e90c";

